.bench_icon {
    width: 2em;
}

.bench_name {
    min-width: 30%;
}

.bench_time {
    width: 8em;
}

.headerlink {
    visibility: hidden;
    color: gray;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink
 {
    visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px 0 10px 0;
}

h2 {
    margin-top: 1em;
    padding-top: .5em;
    border-top: 1px dashed gray;
}

h2:first-child {
    margin-top: inherit;
    border-top: none;
}

p.errors-summary {
    font-color: gray;
    font-size: 90%;
    font-style: italic;;
}

p.errors-summary a {
    font-weight: bold;
}